<html ng-app="gulpDemo">
    <head>
        <title>Gulp Demo - 08 - Organization &amp; Structure</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    </head>
    <body style="background-color: #FFFFFF; width: 1000px; margin: 0 auto;">
        <table border="0" style="margin-top: 100px;" cellpadding="10">
            <tr>
                <td align="center">
                    <img src="./img/gulp.jpg">
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Serving files up via Gulp & Express!</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <div ng-controller="demoController">
                        <table>
                            <tr>
                                <td>Write some text in textbox:</td>
                                <td>&nbsp;&nbsp;<input style="padding-left: 20px; border: thin solid #999999;" type="text" ng-model="sometext" /></td>
                            <tr>
                            <tr>
                                <td colspan="2" ng-if="sometext"><h4>Hello, {{sometext}}!, from AngularJS</h4></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </body>
    <script type="text/javascript" src="js/vendor-concat.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</html>