<html ng-app="gulpDemo">
    <head>
        <title>Gulp Demo - 06 - Minify and Rev</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    </head>
    <body style="background-color: #FFFFFF; width: 1000px; margin: 0 auto;">
        <table border="0" cellpadding="10">
            <tr>
                <td>
                    <img src="./img/gulp.jpg">
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Serving files up via Gulp & Express!</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <div ng-controller="demoController">
                        <table>
                            <tr>
                                <td>Write some text in textbox:</td>
                                <td><input type="text" ng-model="sometext" /></td>
                            <tr>
                            <tr>
                                <td colspan="2" ng-if="sometext">Hello, {{sometext}}!, from AngularJS </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </body>
    <script type="text/javascript" src="js/vendor-concat.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</html>