
body {
  background-color: #EEEEEE;
width: 1000px;
margin: 0 auto;
}

.tfc-paper *
{
  font-family: Arial, Helvetica, sans-serif;
}

.tfc-paper
{
  width: 816px;
  margin: 0px auto;
  padding: 48px 48px;
  border: #e0e0e0;
  box-shadow: 0 0 15px #888888;
  min-height: 1056px;
  background-color: white;
  position: relative;
}